<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceri.android.ucounter">
    <!--android:label="@string/app_name"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.ceri.android.ucounter.ui.activities.CounterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ceri.android.ucounter.ui.activities.GeneralSettingsActivity"> </activity>
        <activity android:name="com.ceri.android.ucounter.ui.activities.CounterSettingsActivity"> </activity>
        <provider
            android:authorities="com.ceri.android.ucounter"
            android:name="com.ceri.android.ucounter.data.db.CounterProvider"
            android:exported="false"/>

    </application>

</manifest>